* {
  box-sizing: border-box;
}

body {
    margin:0;
    background-color: #f0f2f5;
    font-family: "Helvetica",sans-serif;
}

a {
    text-decoration: none;
}

.container .left{
    margin-top: -120px;
}

.container .left img{
    width: 300px;
    margin:-28px;
}
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 40px;
    gap: 80px;
}

h2 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 16px;
    line-height: 1.3;
}

.container .right {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container{
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0 ,0, 0.1), 0 8px 16px rgba(0, 0 ,0, 0.1);
    width: 396px;
    margin-bottom: 30px;
}

form input{
    padding:16px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    font-family: "Helvetica",sans-serif;
}

form input:focus::placeholder{
    color:#a9a9a9;
}

form input:focus{
    outline: 1px solid #1877f2;
}

form a{
    font-size: 14px;
    color:#1877f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
}

a:hover{
    text-decoration: underline;
}

.btn {
    background-color: #1877f2;
    border-radius: 8px;
    border: none;
    padding:12px;
    color:#f2f0f5;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn.green{
    background-color: #42b72a;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 10px;
    transition: all 300ms ease;
}

.btn.green:hover{
    background-color: #3ca727;
}

.right p{
    font-size: 16px;
}

.right p a{
    color:black;
}

@media (max-width:900px){
    .container{
        flex-direction: column;
        text-align: center;
        gap:20px
    }

    h2{
        width:400px;
        font-size: 24px;
        line-height: 1.2;
    }

    .form-container{
        margin-left: 70px;
    }

    .container .left{
        margin-top: 40px;
    }
}
